/* Webfont: AntiquarianScribe */@font-face {
    font-family: 'AntiquarianScribe';
    src: url('AntiquarianScribe.eot'); /* IE9 Compat Modes */
    src: url('AntiquarianScribe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntiquarianScribe.woff') format('woff'), /* Modern Browsers */
         url('AntiquarianScribe.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntiquarianScribe.svg#AntiquarianScribe') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

